* {
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #4158d0;
    background-image: linear-gradient(
        123deg,
        #4158d0 0%,
        #c850c0 36%,
        #ffcc70 87%
    );
    background-attachment: fixed;
}
