* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: mclaren, helvetica, monospace, sans-serif;
}

body {
    height: 100vh;
    background-color: #4158d0;
    background-image: linear-gradient(
        123deg,
        #4158d0 0%,
        #c850c0 36%,
        #ffcc70 87%
    );
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 15px;
    min-height: 700px;
    width: 700px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.container h1 {
    text-align: center;
    margin-top: 0.5em;
    color: rgb(255, 224, 85);
}

.description {
    margin-top: 25px;
}

.description p {
    margin-top: 20px;
    font-weight: 500;
    font-size: 1.3rem;
    text-align: center;
    color: rgb(47, 45, 179);
}

.btn-container {
    flex: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#play {
    background-image: linear-gradient(
        to right,
        #ff6e7f 0%,
        #bfe9ff 51%,
        #ff6e7f 100%
    );
    margin: 30px 10px 10px 10px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 20px;
    border: none;
    display: block;
    padding: 20px 0px;
    font-size: 1.5rem;
    color: #f00f2a;
    font-family: sans-serif;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    width: 30%;
}

#play:hover {
    background-position: right center; /* change the direction of the change here */
    color: #00a2ff;
    text-decoration: none;
    cursor: pointer;
}

.fade-out {
    animation: fadeOut 1.5s;
    opacity: 0;
    cursor: wait;
    -webkit-animation: fadeOut 1.5s;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.fade-in {
    animation: fadeIn 1.5s;
    -webkit-animation: fadeIn 1.5s;
    opacity: 1;
    display: block !important;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#container-1 {
    display: none;
}

#container-2 {
    /* display: none; */
    position: relative;
}

#container-2 h1 {
    /* display: none; */
    margin-bottom: 40px;
}

#container-2 .score {
    display: flex;
    justify-content: center;
    gap: 300px;
}

#container-2 .score-circle {
    background: coral;
    min-height: 101px;
    min-width: 99px;
    border-radius: 100%;
    font-size: 3rem;
    display: grid;
    place-content: center;
}
.vertical-line {
    margin: 0 auto;
    border-left: 2px solid green;
    height: 450px;
}

.side {
    position: absolute;
}

#player-side {
    top: 250px;
    left: 100px;
    color: blue;
}

#computer-side {
    top: 250px;
    left: 400px;
    color: red;
}

.player-options,
.computer-options {
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: absolute;
    left: 25px;
    top: 320px;
}

.computer-options {
    left: 375px;
}

.btn {
    padding: 20px;
    width: 300px;
    font-size: 1.5rem;
    border-radius: 20px;
    border: none;
    transition: all 0.5s;
}

.player-btn:hover {
    cursor: pointer;
}

.player-rock,
.computer-rock {
    background: #ffdead;
    color: orange;
}

.player-rock:hover {
    background: #f4a460;
    color: black;
}

.player-paper,
.computer-paper {
    background-color: #ffa4a4;
    color: red;
}

.player-paper:hover {
    background: red;
    color: black;
}

.player-scissors,
.computer-scissors {
    background: #87cefa;
    color: #018ee6;
}

.player-scissors:hover {
    color: black;
    background: #4169e1;
}
